<div>
    {{#with main}}
        <main>
            {{#with summary}}
                <section>
                    {{> title data=title big=true}}
                    <div><p>{{text}}</p></div>
                </section>
            {{/with}}

            {{#with experience}}
                <section>
                    {{> title data=title big=false}}
                    <div><p>{{text}}</p></div>
                </section>
            {{/with}}
        </main>
    {{/with}}
</div>