<div>
    {{#with web}}
    <main>
        <section class="p-5">
            <ul>
                {{#each languages}}
                <li class="mt-3 mb-3">
                    <h3><abbr title={{version}}>{{name}}</abbr></h3>
                    <p>{{description}}</p>
                    
                    {{>languages page=elements}}
                    {{>languages page=properties}}
                    {{>languages page=functions}}                    
                </li>
                <hr>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>