{{#with footer}}
    <footer>
        <hr>
        <div class="mt-5 mb-5">
            {{#with social}}
                {{> link href=email.href text=email.text blank=true }}
                {{> link href=phone.href text=phone.text blank=true }}
                {{> link href=linkedin.href text=linkedin.text blank=true noLine=true }}
            {{/with}}
        </div> 
        <div class="mb-5">
            <em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
        </div>
        <div><address>{{../header.address}}</address></div>
    </footer>
{{/with}}