<nav>
    {{> link href="/summary" text="Summary" line=true}}
    {{> link href="/skills" text="Skills" line=true}}
    {{> link href="/education" text="Education" line=true}}
    {{> link href="/work" text="Work" line=true noLine=true}}
    <hr>
</nav>