<div class="card">
    <div class="nav" style="--bs-breadcrumb-divider: '';">
        <ol class="breadcrumb m-2">
            {{#each navigation.links}}
            <li class="breadcrumb-item">
                <a class='nav-link px-1' href={{href}}>{{text}}</a>
            </li>
            {{/each}}
            <a class='nav-link ps-2 disabled' href='#'>Disabled</a>
        </ol>
    </div>
</div>