{{#each cards}}
    <div class='col-4'>
        <div class='card'>
            <img class="card-img-top" src={{image}}>
            <div class='card-body'>
                <h5 class="card-title">{{title}}</h2>
                {{#if isHot}}<span class='badge rounded-pill bg-warning'>HOT!</span>{{/if}}
                {{#if isNew}}<span class='badge rounded-pill bg-primary'>New</span>{{/if}}
                <p>{{description}}</p>
            </div>
        </div>
    </div>
{{/each}}